body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  background: #aaa;
  font-family: Helvetica, "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 12pt;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: block;
  height: 52px;
  line-height: 52px;
  padding: 30px 0;
  padding-left: 90px;
  background: #262225 url("/style/stick.gif") 0px 50% no-repeat;
}
header h1 {
  float: left;
  color: #fff;
  font-size: 40px;
  letter-spacing: -3px;
}
header h3 {
  float: right;
  color: #444;
  font-size: 36pt;
  letter-spacing: -3px;
}
header h3 a {
  color: #aaa;
}
header h3 a:hover {
  color: #ddd;
}

#items .item {
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  line-height: 30px;
  color: #005ac8;
  font-size: 20pt;
}
#items .item.parent {
  background: #333;
  color: #fff;
}
#items .item:hover {
  background: #005ac8;
  color: #fff;
}
#items .item:hover .prefix {
  color: #fff;
}
#items .item .prefix {
  float: left;
  margin-right: 5px;
  color: #aaa;
  font-size: 12pt;
}
#items .item .info {
  overflow: hidden;
  line-height: 20px;
  margin-top: 10px;
  border-radius: 13px;
  background: #ccc;
  color: #333;
  font-size: 10pt;
  font-weight: bold;
}
#items .item .info span {
  float: left;
  padding: 3px 10px;
}
#items .item .info time {
  float: left;
  width: 100px;
  padding: 3px 10px;
  border-radius: 13px;
  background: #444;
  color: #ddd;
  font-family: monospace;
  text-align: center;
}
#items .item .info a {
  color: #005ac8;
}
#items .item .info a:hover {
  text-decoration: underline;
}

table {
  display: none;
}
